<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/home">
<head>
    <title>Study-Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta charset="utf-8" />
</head>
<body>
<div class="col s9" layout:fragment="content-home">
  <div class="card-panel row">
  	<div class="row">
  		<div class="col s8">
  			<h4 class="indigo-text header" th:text="${study.acronym} + ' Study'"></h4>
  			<div class="divider"></div>
  			<div class="section">
  				<h5>Title</h5>
  				<p th:text="${study.title}"></p>
  			</div>
  			<div class="divider"></div>
  			<div class="section">
  				<h5>Design</h5>
  				<ul>
  					<li th:each="design : ${study.designs}">
  						<p th:text="${design.name}"></p>
  					</li>
  				</ul>
  			</div>
  			<div class="divider"></div>
  			<div class="section">
  				<h5>Description</h5>
  				<p th:text="${study.description}"></p>
  			</div>
  			<div class="divider"></div>
  		</div>
  		<div class="col s2 offset-s2" hidden="hidden">
  			<ul class="collection with-header task-card">
  				<li class="collection-header cyan darken-3">
  					<h6 class="task-card-title">Individuals</h6>
  				</li>
  				
  			</ul>
  		</div>
  	</div>
  	
  	<div class="row">
  		<div class="col s12">
  			<h4 class="indigo-text header">Summary</h4>
  			<ul class="tabs" id="case-ctl-swipeable">
  				<li class="tab col s3"><a href="#case-tab">Case</a></li>
  				<li class="tab col s3"><a href="#ctl-tab">Control</a></li>
  			</ul>
  			<div id="case-tab">
  			    <div class="row">
	  			    <table id="case-summary" class="display" style="cellspacing:0; width:100%;">
	                    <thead>
		                    <tr>
		                        <th>Total</th>
		                        <th>Male</th>
		                        <th>Female</th>
		                        <th>Total Volume</th>
		                        <th>Biobank</th>
		                        <th>Available</th>
		                   	 </tr>
	                   	</thead>
	                   	<tbody>
	                   		<tr>
	                   			<td th:text="${summary.countCases}"></td>
	                   			<td th:text="${summary.countCasesMale}"></td>
	                   			<td th:text="${summary.countCasesFemale}"></td>
	                   			<td th:text="${summary.casesVolume}"></td>
	                   			<td th:text="${summary.biobankName}"></td>
	                   			<td th:text="${summary.casesWithVolume} + ' From ' + ${summary.countCases}"></td>
	                   		</tr>
	                   	</tbody>
                   	</table>
                </div>
                <div class="row summary-charts">
                <!-- TODO: THINK LATER HOW TO CHANGE THIS ID. PEOPLES MAY USE THE UNDERSCORE IN THE ACRONYM THEN THE SPLIT WILL NOT WORK! -->
               		<a th:id="${study.acronym} + '_Case'" class="btn-floating red" style="margin-left: 10px; margin-top: -40px;">
               			<i class="material-icons">add</i>
           			</a>
                </div>
                <div class="row" id="container-case">
                	<!-- <div class="col s6" id="container-case" style="min-width: 310px; height: 400px; margin: 0 auto"></div> -->
                </div>
  			</div>
  			
  			<div id="ctl-tab">
  				<div class="row">
	  			    <table id="ctl-summary" class="display" style="cellspacing:0; width:100%;">
	                    <thead>
		                    <tr>
		                        <th>Total</th>
		                        <th>Male</th>
		                        <th>Female</th>
		                        <th>Total Volume</th>
		                        <th>Biobank</th>
		                        <th>Available</th>
		                   	 </tr>
	                   	</thead>
	                   	<tbody>
	                   		<tr>
	                   			<td th:text="${summary.countCtls}"></td>
	                   			<td th:text="${summary.countCtlsMale}"></td>
	                   			<td th:text="${summary.countCtlsFemale}"></td>
	                   			<td th:text="${summary.ctlsVolume}"></td>
	                   			<td th:text="${summary.biobankName}"></td>
	                   			<td th:text="${summary.ctlsWithVolume} + ' From ' + ${summary.countCtls}"></td>
	                   		</tr>
	                   	</tbody>
                   	</table>
                </div>
                <div class="row summary-charts">
               		<a th:id="${study.acronym} + '_Control'" class="btn-floating red" style="margin-left: 10px; margin-top: -40px;">
               			<i class="material-icons">add</i>
           			</a>
                </div>
                <div class="row" id="container-ctl"></div>
  			</div>
  		</div>
  	</div>
  	
  	<div class="row">
  		<div class="col s12">
  			<h4 class="indigo-text header">Samples</h4>
  			<div class="section">
  				<table id="example" class="display" style="cellspacing:0; width:100%;">
                   <thead>
                   <tr>
                       <th>ID</th>
                       <th>Gender</th>
                       <th>Type</th>
                       <th>Volume</th>
                       <th>Biobank</th>
                       <th>Available</th>
                   </tr>
                   </thead>
                   <tbody>
                   <tr th:each="sample,i : ${study.samples}">
					   <td th:text="${i.index}"></td>
					   <td th:text="${sample.gender}"></td>
					   <td th:text="${sample.specimenType}"></td>
					   <td th:text="${sample.sampleVolume}"></td>
					   <td th:text="${sample.biobankName}"></td>
					   <td th:if="${sample.sampleAvailable} == 'Yes'" th:text="${sample.sampleAvailable}" class="green-text darken-4"></td>
					   <td th:if="${sample.sampleAvailable} == 'No'" th:text="${sample.sampleAvailable}" class="deep-orange-text darken-4"></td>
                   </tr>
                   </tbody>
               </table>
  			</div>
  		</div>
  	</div>
  </div>
</div>
</body>
</html>