<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/home">
<head>
    <title>Study-Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta charset="utf-8" />
</head>
<body>
<div id="basic-form" class="col s9" layout:fragment="content-home" style="height: 150px">
  <div class="card-panel col s12">
  	<div class="row">
  		<div class="col s8">
  			<h4 class="indigo-text header" th:text="${study.acronym} + ' Study'"></h4>
  			<div class="divider"></div>
  			<div class="section">
  				<h5>Title</h5>
  				<p th:text="${study.title}"></p>
  			</div>
  			<div class="divider"></div>
  			<div class="section">
  				<h5>Design</h5>
  				<ul>
  					<li th:each="design : ${study.designs}">
  						<p th:text="${design.name}"></p>
  					</li>
  				</ul>
  			</div>
  			<div class="divider"></div>
  			<div class="section">
  				<h5>Description</h5>
  				<p th:text="${study.description}"></p>
  			</div>
  			<div class="divider"></div>
  		</div>
  		<div class="col s2 offset-s2">
  			<ul class="collection with-header task-card">
  				<li class="collection-header cyan darken-3">
  					<h6 class="task-card-title">Individuals</h6>
  				</li>
  				
  			</ul>
  		</div>
  	</div>
  	<div class="row">
  		<div class="col s12">
  			<h4 class="indigo-text header">Samples</h4>
  			<div class="section">
  				<table id="example" class="display" cellspacing="0" width="100%">
                   <thead>
                   <tr>
                       <th>ID</th>
                       <th>Gender</th>
                       <th>Specimen</th>
                       <th>Date</th>
                       <th>Volume</th>
                       <th>Available</th>
                   </tr>
                   </thead>
                   <tbody>
                   <tr></tr>
                   
                   </tbody>
               </table>
  			</div>
  		</div>
  	</div>
  </div>
</div>
</body>
</html>