body {
    background-color: #e1e8f0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background-color: #00BCD4;
}
div.show-search-form{
    top: 80px;
    right: 20px;
}

#search-form {
    display: none;
}
a.item-menu {
    height: 70px;
}

nav i.material-icons {
    font-size: 40px;
}