body {
    background-color: #e1e8f0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background-color: #00BCD4;
}
div.show-search-form{
    top: 80px;
    right: 20px;
}

#search-form {
    display: none;
}
a.item-menu {
    height: 70px;
}

nav i.material-icons {
    font-size: 32px;
}

/* tabs color text*/
.tabs .tab a{
    color:#00ACC1;
}
.tabs .tab a:hover,.tabs .tab a.active {
    background-color:transparent;
    color:#008B9B;
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
    color:rgba(102,147,153,0.7);
}
.tabs .indicator {
    background-color:#009BAD;
}

#result-parse {
    overflow-y: scroll;
    height: 200px;
}


/* ADMIN PAGE UPLODING */
div.alert-card button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    position: absolute;
    right: 10px;
    top: 23px;
    border: medium none;
    color: #ffffff;
    font-size: 22px;
}

div.alert-card p {
    font-size: 16px;
}

div.alert-card span {
    margin-left: 10px;
}

img {
    outline: 1px solid white;
    outline-offset: -4px;
}