body {
    background-color: #e1e8f0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.page-footer {
    background-color: #00BCD4;
}
div.show-search-form{
    top: 80px;
    right: 20px;
}

#search-form {
    display: none;
}
a.item-menu {
    height: 70px;
}

nav i.material-icons {
    font-size: 32px;
}

/* tabs color text*/
.tabs .tab a{
    color:#00ACC1;
}
.tabs .tab a:hover,.tabs .tab a.active {
    background-color:transparent;
    color:#008B9B;
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
    color:rgba(102,147,153,0.7);
}
.tabs .indicator {
    background-color:#009BAD;
}

#result-parse {
    overflow-y: scroll;
    height: 200px;
}


/* ADMIN PAGE UPLODING */
div.alert-card button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    position: absolute;
    right: 10px;
    top: 23px;
    border: medium none;
    color: #ffffff;
    font-size: 22px;
}

div.alert-card p {
    font-size: 16px;
}

div.alert-card span {
    margin-left: 10px;
}


/* ADMIN PAGE TRACK */
button.secondary-content {
    position: relative;
    line-height: 1.5rem;
    margin-top: -25px;
    color: white;
    font-weight: bold;
}

/*task-card*/

ul.task-card label {
    display: block;
    color: rgba(0, 0, 0, 0.87);
    height: auto;
}
ul.task-card .task-card-title {
    margin: 0;
    color: #fff;
    font-weight: 300;
}
ul.task-card .task-card-date {
    font-size: 1.0rem;
    margin: 0;
    color: #fff;
}
ul.task-card .collection-header {
    padding: 20px;
}
ul.task-card .task-cat {
    padding: 2px 4px;
    color: #fff;
    margin-left: 37px;
    font-weight: 300;
    font-size: 0.8rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
}
.task-cat {
    padding: 2px 4px;
    color: #fff;
    font-weight: 300;
    font-size: 0.8rem;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-clip: padding-box;
}
.collection .collection-item.avatar i.circle {
    font-size: 28px;
}